/* Your styles here */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  text-align: center;
}

header {
  text-align: left;
}

/* HEADER */
header {
  background-color: black;
  width: 100%;
}

header img {
  width: 150px;
  padding: 20px;
}

/* MAIN */
main {
  margin: auto;
  color: rgb(23, 23, 23);
}

/* PRIMO DIV */
main > div:first-child {
  background-image: url("../images/banner.jpg");
  background-size: 100%;
  padding: 0 70px;
  height: 500px;
  display: flow-root;
}

h1 {
  color: #25a2c3;
  font-weight: bold;
  font-size: xx-large;
  margin-top: 150px;
}

main > div:first-child p {
  line-height: 180%;
  margin: 15px 0 25px 0;
  padding: 0 280px;
}

button {
  background-color: #f04c2f;
  color: white;
  border: 1px solid;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 15px 30px;
}

/* SECONDO DIV */
main > div:nth-child(2) {
  margin: 150px 200px;
  display: flex;
}

main > div:nth-child(2) h4 {
  color: #25a2c3;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  text-align: left;
}

main > div:nth-child(2) div {
  padding-left: 100px;
}

main > div:nth-child(2) div > p {
  line-height: 160%;
  text-align: left;
}

main > div:nth-child(2) img {
  width: 50%;
  border-radius: 50%;
}

/* TERZO DIV */
main > div:nth-child(3) {
  background-color: #e22d0e;
  color: white;
  padding: 90px 20px;
  text-align: center;
  margin: 50px 0;
}

main > div:nth-child(3) h3 {
  font-size: x-large;
}

main > div:nth-child(3) h3 + p {
  line-height: 150%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: italic;
}

main > div:nth-child(3) h3 + p + p {
  margin-bottom: 10px;
  font-size: large;
}

main > div:nth-child(3) h3 + p + p + p {
  font-size: x-small;
  font-weight: 200;
}

/* QUARTO DIV */
main > div:nth-child(4) {
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: space-evenly;
}

main > div:nth-child(4) div {
  border: 1px solid #dee1e3;
  margin-bottom: 20px;
  width: 300px;
  height: 350px;
  display: inline-block;
}

main > div:nth-child(4) div img {
  height: 60%;
  width: 100%;
}

main > div:nth-child(4) div h5 {
  color: #25a2c3;
  margin: 16px 0 10px 0;
  font-size: 14px;
}

main > div:nth-child(4) div p {
  line-height: 160%;
  font-size: 13px;
  padding-left: 12px;
  padding-right: 12px;
}

/*  FOOTER */
footer {
  background-color: #25a2c3;
  color: #add1d5;
  text-align: center;
  padding: 40px 60px;
}

footer h4 {
  color: white;
  font-weight: 700;
  padding: 20px 0 10px 0;
  font-size: 25px;
  text-align: center;
}

a {
  color: #add1d5;
  line-height: 150%;
}

hr {
  border-color: #add1d5;
  width: 116px;
}

footer p {
  font-size: 12px;
  padding-top: 20px;
}

footer div span {
  line-height: 150%;
}

footer div i {
  color: white;
}
